
<header>
<h1>
  Welcome to Tiny App
  </h1>
</header>
<body>
<p>
  <% if(typeof user == 'object' && user){ %>
  <%= user.email %>
  <form action="/logout" method="POST">
  <button type="Logout">Logout</button>
  </form>
<% } else{ %>
  <a href= "http://localhost:8080/register"> Register </a>
  <a href= "http://localhost:8080/login"> Login </a>
<% } %>
</p>

</body>
</html>