  <!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
<%- include ./partials/_header.ejs %>
</header>
  <p>
  <% if(email === undefined){ %>
    <form action="/login" method="POST" style="margin:150px;">
    <label for="email">Enter Your Email:</label>
    <input type="email" name ="email" placeholder="abcd@gmail.com" style="width: 300px">
    <label for="password">Enter your password :</label>
    <input type="password" name ="password" placeholder="password" style="width: 300px">
    <button name="Login">Login</button>
    </form>
  <% } %>
</p>
</body>
</html>